body,
div,
ul,
li,
p,
h2,
h3,
h4,
h5,
h6 {
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
}

.clear-fix {
    overflow: auto;
}

hr {
    border: 1px solid #000;
}

.education-entry,
.work-entry,
.project-entry {
    padding: 0.5%;
}

h1 {
    padding: 0;
    margin: 0;
    font-family: 'Slabo 27px', serif;
    font-size: 50px;
    color: #7f5417;
    line-height: 48px;
    display: inline;
}

h2 {
    font-weight: bold;
    font-size: 24px;
    color: #7f5417;
    line-height: 29px;
    padding: 10px;
}

h3 {
    padding: 0;
    margin: 0;
    font-style: italic;
    font-size: 20px;
    color: #b6212d;
    line-height: 22px;
}

h4 {
    font-weight: bold;
    font-size: 14px;
    color: #4a4a4a;
    line-height: 17px;
}

h2,
h3,
h4,
h5 {
    padding: 10px 5%;
}

#role {
    padding: 0;
    margin: 0;
    font-family: 'Orbitron', sans-serif;
    color: #b6212d;
}

.date-text {
    font-style: italic;
    font-size: 14px;
    color: #999;
    line-height: 16px;
    float: left;
}

.location-text {
    font-style: italic;
    font-size: 14px;
    color: #999;
    line-height: 16px;
    float: right;
}

p {
    font-size: 14px;
    color: #333;
    line-height: 21px;
}

a {
    color: #1199c3;
    text-decoration: none;
    margin-top: 10px;
    display: block;
}

.welcome-message {
    font-family: 'Boogaloo', cursive;
    font-size: 25px;
    color: #7f5417;
    line-height: 28px;
}

#skills-h3 {
    padding: 0;
    margin: 0;
    position: absolute;
    left: 25%;
    top: 25%;
    font-style: normal;
    color: #b6212d;
    display: none;
}

#projects, #mapDiv {
    background-color: #fbf9ea;
}

#skills {
    padding: 0;
    margin: 0;
    left: 25%;
    top: 28%;
    position: absolute;
}

.orange {
    background-color: #ffe6cc;
}

.orange-text {
    color: #4d2600;
}

.white-text {
    font-family: 'Roboto Condensed', sans-serif;
    color: #fff;
}

.gray {
    background-color: #ffe6cc;
    padding-bottom: 10px;
    clear: both;
}

.dark-gray {
    background: url("../images/brown.jpg") repeat 0 0;
}

/* TODO: Replace with image later */
#header {
    background: url("../images/brown.jpg") repeat 0 0;
}

.flex-box {
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px;
}

.flex-column {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    padding: 10px;
}

.center-content {
    padding: 2.5% 5%;
}

ul {
    list-style-type: none;
}

.biopic {
    border-radius: 50%;
    float: left;
    padding: 10px;
    width: 200px;
    display: none;
}

.pimage {
    max-width: 100%;
    display: flex;
    height: auto;
}

img {
    padding: 10px;
}

span {
    padding: 5px;
}

#lets-connect {
    text-align: center;
}

/* Media queries to handle various device widths */

@media only screen and (max-width: 1024px) {
    #lets-connect {
        margin-top: 5%;
    }
}

@media only screen and (max-width:900px) {
    .biopic {
        width: 175px;
    }
}

@media only screen and (max-width: 750px) {
    #lets-connect {
        margin-top: 10%;
    }

    .biopic {
        width: 150px;
    }

    .welcome-message {
        display: none;
    }

    #skills {
        display: none;
    }
}

#map {
    display: block;
    height: 100%;
    margin: 0 5%;
}

#mapDiv {
    height: 400px;
    width: 100%;
    padding-bottom: 5%;
}

@media only screen and (min-width: 750px) {
    #skills-h3,
  .biopic {
        display: block;
    }
}
